#prod {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "prodInput prodOutput";
}

#prodInput {
  grid-area: prodInput;
}

#prodInput textarea {
  height: 4em;
  resize: none;
}

#prodOutput {
  grid-area: prodOutput;
}

#prodOutput .card {
  margin-left: auto;
  margin-right: auto;
}

.card-code,
.card-price,
.card-stock {
  font-size: smaller;
  line-height: 0.5em;
}

.card {
  margin: 1em;
}

#prods {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-left: 2em;
  margin-right: 2em;
}

header {
  text-align: center;
}
#cuentaCarrito {
  cursor: pointer;
}
#articulos {
  display: flex;
  flex-wrap: wrap;
}
section {
  margin: 1em;
}
.card {
  width: 18em;
  margin: 1em;
}

.card .imagen {
  min-height: 200px;
  display: flex;
  align-items: center;
}

.card .imagen img {
  max-height: 200px;
}

.card .titulo {
  padding-top: 0.5em;
  text-align: center;
}

.card .precio {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0em;
}

.card .card-text {
  line-height: 1em;
}

.card .descripcion {
  height: 2em;
}

footer {
  margin: 1em;
  text-align: center;
}

.btn {
  margin-right: 1em;
}

.modal .list-group .list-group-item .imagen {
  grid-area: imagen;
}
.modal .list-group .list-group-item .texto {
  font-size: small;
  grid-area: texto;
  margin: 0.5em;
}

.modal .list-group .list-group-item .texto .total {
  font-weight: bold;
  font-size: large;
  margin: 0.5em;
}

.modal .list-group .list-group-item .cantidad {
  grid-area: cantidad;
  margin: 0.5em;
}
.modal .list-group .list-group-item .precio {
  font-weight: bold;
  grid-area: precio;
  margin: 0.5em;
}
.modal .list-group .list-group-item .eliminar {
  grid-area: eliminar;
  color: rgb(216, 22, 22);
  margin: 0.5em;
  cursor: pointer;
}
.modal .list-group .list-group-item {
  display: grid;
  grid-template-columns: 20% 35% 15% 25% 5%;
  align-items: center;
  grid-template-areas: "imagen texto cantidad precio eliminar";
}

.modal .list-group .list-group-item .imagen img {
  max-width: 5em;
}

.modal .list-group .list-group-item .texto .nombre {
  font-weight: bold;
}

#modalAgregar .modal-dialog {
  top: 10em;
}

#cartCount {
  display: block;
}

#cartCount:hover {
  cursor: pointer;
}

#cartCount {
  color: white;
}

.formulario {
  max-width: 400px;
}

.error {
  color: rgb(216, 22, 22);
}

.item {
  margin-top: 1em;
  max-width: 40em;
}

.button-container {
  display: flex;
  justify-content: center;
}

.cantidad-pedido {
  line-height: 2em;
  margin: 0.2em;
  width: 1em;
}

.agregar {
  margin-top: 1em;
}

.center {
  text-align: center;
}

.card-enabled:hover{
  cursor: pointer;
}

.card-disabled:hover{
  cursor: not-allowed;
}

.card-disabled{
  opacity: 0.5;
}